body {
    font-family: arial, sans-serif;
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: space-between;
    padding:10px;
    position:fixed;
    width:100%;
    left: 0px;
    top: 0px;
}

.nav a {
    color: inherit;
    text-decoration: none;

}

.nav1 {
flex-grow: 1;
display:flex;
align-items: center;
}

.nav2 {
    flex-grow: 1;
    padding-right: 15px;
}

.nav-text-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.nav-text-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.appicon {
    margin-bottom: -7px;
}

.nav li {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    font-size: 14px;
}


.nav li:hover {
    text-decoration: underline;
}

.search-icon {
    size: 100px;
}

.grid-box-container {
    display: grid;
    grid-template-columns: repeat(4,lfr);
    grid-auto-rows: 2fr 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;
    margin-top: 150px;
    width: 700px;
    border: 2px solid green;
}

.grid-first-row {
    grid-column: 1 / 5;
    grid-row: 1;
    border: 2px solid green;
}

.grid-second-row-search-icon {
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
    border: 2px solid green;
}

.grid-second-row {
    grid-column: 1 / 5;
    grid-row: 2;
    border: 2px solid green;
}

.grid-third-row-first-button {
    grid-column: 2 / 3;
    grid-row: 3;
}

.grid-third-row-second-button {
    grid-column: 3 / 4;
    grid-row: 3;
    border: 2px solid green;
}

.grid-fourth-row {
    grid-column: 2 / 4;
    grid-row: 4;
    border: 2px solid green;
}
